**/.idea
*.iml
*.json
*.iws
**/target
/out
**/logs
.idea_modules/
classes/
cmake-build-debug/
cmake-build-release/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
**/**/dependency-reduced-pom.xml
**/**/package-info.java
/.gradle
**/build
**/out
/.nb-gradle/
**/.project
**/.classpath
**/.settings
**/bin
**/*.code-workspace